.Register-app {
  text-align: center;
  background-image: url("Party.jpg");
}

.Register-app-header {
  background-color: #282c34;
  min-height: 90vh;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
border-radius: 30px;
text-align: center;
margin-right: 10px;
height:25px;
/*width:22%; */
}


select{
border-radius: 30px;
text-align: center;
margin-right: 10px;
height:25px;
/*width:15%; */
}

button{
border-radius: 30px;
margin-right: 10px;
height: 30px;
width: 15%;
/* width: 150px; */
}

h1{
  font-size: 6vw;
}
div.content {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
}

div.content:hover {
    border: 1px solid #777;
}
div.content img {
    width: 100%;
    height: auto;
}
.nextBtn {
    background-color: #4CAF50;
    color: white;
	text-align: center;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:15%;
    opacity: 0.9;
}

.nextBtn:hover {
    opacity: 1;
}
