.App {
  text-align: center;
  background-image: url("Party.jpg");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

input{
border-radius: 30px;
text-align: center;
margin-right: 10px;
height:25px;
/*width:22%; */
}

select{
border-radius: 30px;
text-align: center;
margin-right: 10px;
height:25px;
/*width:15%; */
}

button{
border-radius: 30px;
margin-right: 10px;
height: 30px;
width: 20%;
/* width: 150px; */
}

h1{
  font-size: 6vw;
}
